body {
    font-family: 'Lato', sans-serif;
}

.mt-xs {
    margin-top: 10px;
}

.mt-sm {
    margin-top: 15px;
}

.mt-md {
    margin-top: 30px;
}

.mt-lg {
    margin-left: 45px;
}

.mb-xs {
    margin-bottom: 10px;
}

.mb-sm {
    margin-bottom: 15px;
}

.mb-md {
    margin-bottom: 30px;
}

.mb-lg {
    margin-bottom: 45px;
}

.center {
    text-align: center !important;
}

.black-text {
    color: #000000 !important;
}


.clear {
    clear: both;
}

h2 {
    font-size: 32px;
    font-family: 'bebas_neue_regularregular', 'Lato', sans-serif;
    font-weight: bold;
}

.header * {
    z-index: 1000;
}

.header {
    background: #ecf0f1;
    z-index: 1000;
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
}

.header .row {
    margin-left: -30px;
    margin-right: -30px;
}

.nop {
    padding-left: 0;
}

.logo {
    color: #fff;
    background: #057D7A;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    top: 0;
    padding: 10px;
    display: block;
    float: left;
    position: relative;
    z-index: 100;
}

.logo-title {
    color: #333;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 56px;
    left: -300px;
    padding-left: 76px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

.header nav ul {
    padding: 0;
}

ul.navs li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

ul.navs li a {
    text-decoration: none;
    font-weight: 700;
    color: #333;
    position: relative;
    text-transform: uppercase;
}


/*
ul.navs li::after{
	content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
ul.navs li:hover:after{
	width: 100%;
    background: blue;
}
*/

ul.navs li a::after {
    display: block;
    content: '';
    border-bottom: solid 3px #057D7A;
    padding-bottom: 5px;
    transform: scaleX(0.0000);
    transition: transform 0.2s ease-in-out;
}

ul.navs li a:hover::after {
    transform: scaleX(1);
}


/* Slider */


/*.slider-wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:0;
}*/

.slider-wrapper {
    /*height: 876px;*/
}

.slider-wrapper .row {
    margin-left: -30px;
    margin-right: -30px;
}

#slider {
    list-style: none;
    width: 100%;
    height: 100%;
    /*  height:100vh;*/
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.sy-slides-crop {
    /*height: 100vh;*/
}

.sy-slides-wrap {
    /*height: 100vh;*/
}

.fixed-position {
    position: absolute !important;
    top: 56px;
    z-index: 5;
    width: 100%;
}

#home-wrapper .caption {
    z-index: 200;
    color: #fff;
    position: relative;
    text-align: center;
    margin-top: 200px;
}

#home-wrapper .caption h2 {
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'bebas_neue_regularregular', 'Lato', sans-serif;
}

#home-wrapper .caption h4 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'bebas_neue_regularregular', 'Lato', sans-serif;
}

#home-wrapper .caption span {
    font-size: 30px;
    font-family: 'bebas_neue_regularregular', 'Lato', sans-serif;
}


/* featured-works*/

.no-space {
    padding: 0;
    overflow: hidden;
}

.featured-work {
    position: relative;
}

.featured-work h3 {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    bottom: -10px;
    color: white;
    left: 0;
    line-height: 1.4;
    padding: 1em;
    position: absolute;
    right: 0;
    transform: translateY(100%) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: transform;
    margin: 0;
}

.featured-work .work:hover h3 {
    transform: translateX(0px) translateY(0px) translateZ(0px);
}

.featured-work .work:hover img {
    transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(0.9);
}

.featured-work .work a img {
    display: block;
    left: 50%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0px);
    transition: transform 0.3s ease 0s;
}

.featured-work .work a {
    background: #f9f9f9 none repeat scroll 0 0;
    display: block;
    min-height: 270px;
    position: relative;
    text-align: center;
    transform: translateZ(0px);
}

a {
    color: #045f8c;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}


/* skills */

.parallex {
    margin: 0;
    padding: 0;
}

.parallex .bg-break {
    box-shadow: inset 0 0 1em #111;
    background: url("../images/slide1.jpg");
    position: relative;
    height: 50vh;
    text-indent: -9999px;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

.parallex .capture {
    position: relative;
    top: calc(50% - 45px);
    height: 90px;
    padding: 1em;
    text-align: center;
    text-indent: 0;
    background: rgba(243, 243, 243, 0.75);
    box-shadow: 0 1px 0.125em #333;
}

.parallex .capture span {
    font-size: 48px;
    font-family: 'bebas_neue_regularregular', 'Lato', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.worldmap img {
    margin: auto;
    width: 100%;
    height: auto;
}


/* About Me */

#thisisme .myphoto figure {
    display: block;
    position: relative;
    text-align: center;
    top: -200px;
    z-index: 999;
}

#thisisme .myphoto figure img {
    border: 15px solid rgb(230, 230, 230);
    width: 330px;
}

#thisisme {
    background-color: rgb(230, 230, 230);
    height: 180px;
}

#aboutme {
    background-color: rgb(230, 230, 230);
    color: #555555;
    padding-bottom: 45px;
}

.about-me-focus-text {
    color: #057D7A;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 55px
}

#aboutme h2 {
    color: #111111;
    font-weight: bold;
}

#aboutme p {
    color: #111111;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}


/* Footer */

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #057D7A;
    color: #fff;
}

.social2 ul {
    padding: 0;
    text-align: center;
}

.social2 ul li {
    display: inline-block;
    list-style: none;
    margin: 6px;
}

.social2 ul li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    font-size: 39px;
    height: auto;
    width: 60px;
    color: #057D7A;
}

.social2 ul li a:hover {
    background: #2a2b2c;
}

.btn.btn-normal {
    background: #057d7a none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
}


/* Experience */

.experience-wrapper {
    width: 100%;
    min-height: 188px;
    /*clear: both;*/
}

.experience-info-wrapper {
    width: 270px;
    float: left;
    overflow: hidden;
    padding: 20px 30px 20px 0;
}

.experience-date-left {
    float: right;
    text-align: center;
}

.experience-date-right {
    float: right;
    text-align: center;
    position: relative;
    margin-left: 30px;
}

.experience-company {
    clear: both;
}

.experience-position {
    clear: both;
}

.experience-month {
    min-height: 25px;
    text-transform: uppercase;
}

.experience-year {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}

.experience-date-left .experience-month {
    color: #999999;
}

.experience-date-left .experience-year {
    color: #999999;
}

.experience-date-right .experience-month {
    color: #057D7A;
}

.experience-date-right .experience-year {
    color: #057D7A;
}

.experience-company {
    color: #057D7A;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 6px;
}

.experience-position {
    color: #999999;
    text-align: right;
}

.experience-info {
    border-bottom: 1px solid #999999;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.experience-date-right::before {
    border-bottom: 4px solid #000;
    content: "";
    height: 14px;
    left: -20px;
    position: absolute;
    top: 50%;
    width: 12px;
}

.experience-description {
    border: 1px solid #999999;
    float: left;
    margin: 20px 20px 20px 30px;
    padding: 15px;
    position: relative;
    width: calc(100% - 400px);
}

.experience-description h5 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    font-family: "bebas_neue_regularregular", "Lato", sans-serif
}

.experience-description p {
    font-size: 14px;
    text-align: justify;
    font-family: "bebas_neue_regularregular", "Lato", sans-serif
}

.experience-collapse {
    background: #057d7a none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    margin-top: 50px;
    padding: 5px 10px;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

#WorkExperienceBlock::before {
    background-color: #999999;
    content: "";
    height: 100%;
    left: 302px;
    position: absolute;
    width: 1px;
}

#WorkExperience {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.experience-collapse span.collapsed i::before {
    content: "";
}

.experience-collapse span i::before {
    content: "";
}

.experience-info {
    font-family: "bebas_neue_regularregular", "Lato", sans-serif;
}


/* Education */

.education-wrapper {
    width: 100%;
    /*clear: both;*/
    min-height: 188px;
}

.education-info-wrapper {
    width: 270px;
    float: left;
    overflow: hidden;
    padding: 20px 30px 20px 0;
}

.education-date-left {
    float: right;
    text-align: center;
}

.education-date-right {
    float: right;
    text-align: center;
    position: relative;
    margin-left: 30px;
}

.education-company {
    clear: both;
}

.education-position {
    clear: both;
}

.education-month {
    min-height: 25px;
    text-transform: uppercase;
}

.education-year {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.education-date-left .education-month {
    color: #999999;
}

.education-date-left .education-year {
    color: #000000;
}

.education-date-right .education-month {
    color: #057D7A;
}

.education-date-right .education-year {
    color: #057D7A;
}

.education-institute {
    color: #057D7A;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 6px;
}

.education-level {
    color: #999999;
    text-align: right;
}

.education-info {
    border-bottom: 1px solid #999999;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.education-date-right::before {
    border-bottom: 4px solid #000;
    content: "";
    height: 14px;
    left: -20px;
    position: absolute;
    top: 50%;
    width: 12px;
}

.education-description {
    border: 1px solid #999999;
    float: left;
    margin: 20px 20px 20px 30px;
    padding: 15px;
    position: relative;
    width: calc(100% - 400px);
}

.education-description h5 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    font-family: "bebas_neue_regularregular", "Lato", sans-serif
}

.education-description p {
    font-size: 14px;
    color: #000000;
    text-align: justify;
    font-family: "bebas_neue_regularregular", "Lato", sans-serif
}
.education-collapse {
    background: #057d7a none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    margin-top: 50px;
    padding: 5px 10px;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

#EducationBlock::before {
    background-color: #999999;
    content: "";
    height: 100%;
    left: 302px;
    position: absolute;
    width: 1px;
}

#Education {
    position: relative;
    background: #E6E6E6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.education-collapse span.collapsed i::before {
    content: "";
}

.education-collapse span i::before {
    content: "";
}

.education-info {
    font-family: "bebas_neue_regularregular", "Lato", sans-serif;
}


/* Hire Me */

#hire-me {
    background: #111111;
    padding-top: 45px;
    padding-bottom: 45px;
}

.sayhello {
    text-align: center;
    color: #fff;
}

.sayhello h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.sayhello p {
    font-size: 18px;
    color: #999999;
}

.sayhello-left {
    font-size: 72px;
    text-align: right;
    display: block;
    vertical-align: middle;
    color: #fff;
}

.sayhello-right a.btn-primary {
    background: #057D7A;
    border-color: #057D7A;
    ;
}

.sayhello-right {
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}


/* skills-knowledge */

#skills-knowledge {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(230, 230, 230);
    color: #555555;
}

.knowledge ul {
    padding-left: 20px;
}

.knowledge ul li {
    color: #777777;
    list-style: outside none none;
    margin-bottom: 20px;
    padding-left: 30px;
    text-align: left;    
}


/* Skills */

.skills-block {
    margin-bottom: 30px;
}

.skills-block .skills-title {
    color: #000000;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
}

.skills-block .progress {
    border-radius: 0;
    box-shadow: none;
    height: 8px;
    margin: 0;
    overflow: visible;
}

.skills-block .progress .progress-bar {
    background-color: #057D7A;
    height: 8px;
    position: relative;
}

.skills-block .progress .progress-bar span {
    background-color: #057D7A;
    color: #fff;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: -45px;
}

.skills-block .progress .progress-bar span::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #057D7A;
    bottom: -7px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
}

.knowledge ul li::before {
    color: #057d7a;
    content: "";
    font-family: fontawesome;
    left: 12px;
    position: absolute;
}

@media only screen and (min-width: 979px) and (max-width:1200px) {
    #home-wrapper .caption {
        color: #fff;
        margin-top: 100px;
        position: relative;
        text-align: center;
        z-index: 200;
    }
    #home-wrapper .caption h2 {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 66px;
        text-transform: uppercase;
    }
    #home-wrapper .caption span {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 38px;
    }
    #portfolio h3 {
        font-size: 18px;
    }
    .sayhello-right {
        height: 100px;
        line-height: 100px;
        text-align: center;
        vertical-align: middle;
    }
}

@media only screen and (min-width:799px) and (max-width:979px) {
    #home-wrapper .caption {
        color: #fff;
        margin-top: 60px;
        position: relative;
        text-align: center;
        z-index: 200;
    }
    #home-wrapper .caption h2 {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 36px;
        text-transform: uppercase;
    }
    #home-wrapper .caption span {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 28px;
    }
    #portfolio h3 {
        font-size: 18px;
    }
    .sayhello-right {
        height: 100px;
        line-height: 100px;
        text-align: center;
        vertical-align: middle;
    }
}

@media only screen and (max-width:799px) {
    #home-wrapper .caption {
        color: #fff;
        margin-top: 60px;
        position: relative;
        text-align: center;
        z-index: 200;
    }
    #home-wrapper .caption h2 {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 36px;
        text-transform: uppercase;
    }
    #home-wrapper .caption span {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 28px;
    }
    #portfolio h3 {
        font-size: 18px;
    }
    .sayhello-right {
        height: 100px;
        line-height: 100px;
        text-align: center;
        vertical-align: middle;
    }
}


/* Education and experience resonsive */

@media only screen and (max-width:767px) {
    #WorkExperienceBlock::before {
        background-color: transparent;
        content: height: 100%;
        left: 302px;
        position: relative;
        width: 0px;
    }
    .experience-wrapper {
        display: flex;
        min-height: auto;
        width: 100%;
    }
    .experience-description {
        width: 100%;
    }
    .experience-info-wrapper {
        float: none;
        padding: 0;
        width: 100%;
    }
    .experience-date-left {
        float: left;
    }
    .experience-date-right {
        float: left;
    }
    .experience-year {
        font-size: 26px;
        font-weight: bold;
        line-height: 26px;
    }
    .experience-info {
        margin-bottom: 0;
        border: none;
        padding-bottom: 5px;
    }
    .experience-company {
        text-align: left;
    }
    /* Education */
    #EducationBlock::before {
        background-color: transparent;
        content: height: 100%;
        left: 302px;
        position: relative;
        width: 0px;
    }
    .education-wrapper {
        display: flex;
        min-height: auto;
        width: 100%;
    }
    .education-description {
        width: 100%;
    }
    .education-info-wrapper {
        float: none;
        padding: 0;
        width: 100%;
    }
    .education-date-left {
        float: left;
    }
    .education-date-right {
        float: left;
    }
    .education-year {
        font-size: 26px;
        font-weight: bold;
        line-height: 26px;
    }
    .education-info {
        margin-bottom: 0;
        border: none;
        padding-bottom: 5px;
    }
    .education-company {
        text-align: left;
    }
    .education-institute {
        text-align: left;
    }
    .education-level {
        text-align: left;
    }
}

@media only screen and (max-width:360px) {
    #thisisme .myphoto figure {
        top: 0;
    }
    #thisisme {
        height: auto;
    }
    #home-wrapper .caption {
        margin-top: 30px;
    }
}

@media only screen and (max-width:320px) {
    #home-wrapper .caption {
        margin-top: 60px;
        position: relative;
        text-align: center;
        z-index: 200;
    }
    #home-wrapper .caption h2 {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 26px;
        text-transform: uppercase;
    }
    #home-wrapper .caption span {
        font-family: "bebas_neue_regularregular", "Lato", sans-serif;
        font-size: 16px;
    }
    #home-wrapper .caption {
        margin-top: 30px;
    }
    #thisisme .myphoto figure img {
        border: none;
        width: 300px;
        margin-top: 30px;
    }
}


/* Responsive menu */

ul.navs li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    #thisisme .myphoto figure {
        top: 0;
    }
    #thisisme {
        height: auto;
    }
    #home-wrapper .caption {
        margin-top: 30px;
    }
    ul.navs li:not(:first-child) {
        display: none;
    }
    ul.navs li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.navs.responsive {
        position: relative;
    }
    ul.navs.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.navs.responsive li {
        float: none;
        display: inline;
    }
    ul.navs.responsive li a {
        display: block;
        text-align: left;
    }
    ul.navs.responsive {
        background: #ecf0f1 none repeat scroll 0 0;
        display: block;
        padding: 50px 50px 30px 50px;
        position: relative;
        width: 100%;
    }
}

svg text.blink {
    animation: blink 2s ease-out;
}

body {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

#tagi {
    width: 90%;
    margin: 150px auto;
}

@keyframes blink {
    0% {
        text-shadow: 0 0 20px rgba(226, 25, 45, 0);
    }
    20% {
        fill: rgba(226, 25, 45, 1);
        text-shadow: -5px -5px 20px rgba(226, 25, 45, 0.8), 5px -5px 20px rgba(226, 25, 45, 0.8), 5px 5px 20px rgba(226, 25, 45, 0.8), -5px 5px 20px rgba(226, 25, 45, 0.8);
        ;
    }
    30% {
        fill: rgba(226, 25, 45, 1);
        -5px -5px 20px rgba(226, 25, 45, 0.8), 5px -5px 20px rgba(226, 25, 45, 0.8), 5px 5px 20px rgba(226, 25, 45, 0.8), -5px 5px 20px rgba(226, 25, 45, 0.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(226, 25, 45, 0);
    }
}

.st0 {
    fill: #808080;
}

.st1 {
    font-family: 'Open Sans';
    font-weight: 600;
    fill: #a0a0a0;
}

.st2 {
    font-family: 'Open Sans';
}

.st3 {
    font-size: 55px;
}

.st4 {
    font-size: 40px;
}

.st5 {
    font-size: 70px;
}

.st6 {
    font-size: 40px;
}

.st7 {
    font-size: 40px;
}

.st8 {
    font-size: 20px;
}

.st9 {
    font-size: 25px;
}

.st10 {
    font-size: 35px;
}

.st11 {
    font-size: 25px;
}

.st12 {
    font-size: 20px;
}

.st13 {
    font-size: 45px;
}

.st14 {
    font-size: 25px;
}

.st15 {
    font-size: 35px;
}

.st16 {
    font-size: 30px;
}

.st17 {
    font-size: 30px;
}

.st18 {
    font-size: 25px;
}

.st19 {
    font-size: 25px;
}

.st20 {
    font-size: 36px;
}

.st21 {
    font-size: 35px;
}

.st22 {
    font-size: 51px;
}

.st23 {
    font-size: 26px;
}

.st24 {
    font-size: 80px;
}

.st25 {
    font-size: 20px;
}

.st26 {
    font-size: 23px;
}

.st27 {
    font-size: 23px;
}

.st28 {
    font-size: 25px;
}

.st29 {
    font-size: 20px;
}

.st30 {
    font-size: 20px;
}

.st31 {
    font-size: 40px;
}

.st32 {
    font-size: 60px;
}

.text-justify {
    font-size: 14px;
    text-align: justify;
    font-family: "bebas_neue_regularregular", "Lato", sans-serif
}



@media only screen and (min-width:200px) and (max-width:768px)  {
    .adjectives{
        display: none;
    }
    .profile{
        font-size: 20px !important;
    }
}
